[submodule "SonicAudioTools"]
	path = SonicAudioTools
	url = git@github.com:clansty/SonicAudioTools.git
[submodule "XV2-Tools"]
	path = XV2-Tools
	url = git@github.com:MuNET-OSS/XV2-Tools.git
[submodule "AquaMai"]
	path = AquaMai
	url = git@github.com:MewoLab/AquaMai.git
[submodule "MuNet-UI"]
	path = MuNET-UI
	url = git@github.com:MuNET-OSS/MuNET-UI.git
[submodule "MuConvert"]
	path = MuConvert
	url = https://github.com/MuNET-OSS/MuConvert.git
[submodule "MuConvert-Alpha"]
	path = MuConvert-Alpha
	url = https://github.com/SaltNya/MuConvert-Alpha.git
